body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#screenDisplayBorder {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
}

#screenDisplayContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

#screenDisplay1,
#screenDisplay2 {
    text-align: right;
}

.buttons {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}

#buttonHolder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

#screenTextTop,
#screenTextBottom {
    font-size: 20px;
    margin: 5px;
}
